.note-interface {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

canvas {
    border: 2px solid rgb(31, 30, 32);
    background-color: rgb(226, 226, 226);
    //width: 90%;
    //height: 75%;
}