@use 'sass:map';
@use '@angular/material' as mat;
@use '../styles.scss' as styles;


@mixin light-theme {
    $color-config: mat.get-color-config(styles.$light-theme);
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $warning-palette: map.get($color-config, 'warn');
    $basic-palette: map.get($color-config, 'basic');

    .drawer-content {
        background-color: mat.get-color-from-palette($primary-palette, 50);
    }

}

@mixin dark-theme {
    $color-config: mat.get-color-config(styles.$dark-theme);
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $warning-palette: map.get($color-config, 'warn');
    $grey-palette: map.get($color-config, 'secondary');

    .drawer-content {
        background-color: mat.get-color-from-palette($primary-palette, 700);

    }
}