<mat-drawer-container class="app-container" [class]="isDark === true ? 'dark-theme': 'light-theme' " autosize>
    <mat-drawer #drawer class="drawer" mode="side">
        <div class="drawer-head">
            <p>Auto-resizing sidenav</p>
        </div>
        <div class="side-stuff">
            <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
            <button (click)="showFiller = !showFiller" mat-raised-button>
                Toggle extra text
            </button>
        </div>
    </mat-drawer>

    <mat-drawer-content>
        <mat-toolbar class="toolbar" color="primary">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="site-name" routerLink="/">Lifeline Notes</span>
            <span class="in-between"></span>
            <div class="dark-mode">
                <mat-icon *ngIf="isDark === false">brightness_low</mat-icon>
                <mat-icon *ngIf="isDark === true">brightness_high</mat-icon>
                <mat-slide-toggle color="accent" (change)="toggleMode($event)" [checked]="isDark"></mat-slide-toggle>
            </div>
            <button mat-button (click)="loginClick()">
                <mat-icon>account_circle</mat-icon>
            </button>
            <button mat-raised-button color="accent" *ngIf="isLoggedIn === true">
                Log Out
            </button>
        </mat-toolbar>
        <div class="drawer-content">
            <router-outlet class="outlet"></router-outlet>
        </div>
    </mat-drawer-content>

</mat-drawer-container>