.app-container {
    width: 100%;
    height: 100vh;
}

.drawer-head {
    width: 100%;
}

.drawer-content {
    height: auto;
}

.site-name {
    cursor: pointer;
}

.in-between {
    flex-grow: 10;
}

.drawer {
    padding: 20px;
}

.dark-mode {
    display: flex;
    align-items: center;
}