<mat-drawer-container class="app-container" [class]="isDark === true ? 'dark-theme': 'light-theme' " autosize>
    <mat-drawer #drawer class="drawer" mode="side">
        <div class="drawer-head">
            <p>Auto-resizing sidenav</p>
        </div>
        <div class="side-stuff">
            <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
            <button (click)="showFiller = !showFiller" mat-raised-button>
                Toggle extra text
            </button>
        </div>
    </mat-drawer>

    <mat-drawer-content>
        <mat-toolbar class="toolbar" color="primary">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Lifeline Notes</span>
            <span class="in-between"></span>
            <button mat-button (click)="toggleMode()">
                <mat-icon>wb_sunny</mat-icon>
            </button>
            <button mat-button (click)="loginClick()">
                <mat-icon>account_circle</mat-icon>
            </button>
        </mat-toolbar>
        <div class="drawer-content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>

</mat-drawer-container>