<div class="login">

    <div class="error-msg" color="warn">
        {{errorText}}
    </div>
    <form [formGroup]="loginForm" name="login-form" (ngSubmit)="login()">
        <mat-form-field class="input" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
        <div class="buttons">
            <button class="button" mat-raised-button color="primary" type="button" (click)="foo()">Sign in</button>
            <button class="button" mat-raised-button color="accent" type="submit">Login</button>
        </div>
    </form>
</div>