.user-notes{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 3%;
    //background-color: tomato;
}

.mat-divider{
    border-color: #00b1ba;
}

.span {
    width: 100%;
}