.user-notes{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 3%;
    //background-color: tomato;
}

#add-note {
    align-self: center;
    margin-top: 3%;
    width: auto;
    border-radius: 29px;
    padding-left: 5px;
    padding-right: 5px;
}

.mat-divider{
    border-color: #00b1ba;
}

.span {
    width: 100%;
}